databases:
  - name: hrms_db
    databaseName: hrms
    user: hrms_user
    plan: free

services:
  - type: web
    name: hrms-backend
    env: python
    buildCommand: "./backend/build.sh"
    startCommand: "cd backend && gunicorn hrms_backend.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
      - key: DATABASE_URL
        fromDatabase:
          name: hrms_db
          property: connectionString
